<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Cookpedia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="" class="nav-link active text-light" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link active text-light" aria-current="page">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/recipe" class="nav-link active text-light" aria-current="page">Recipes</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link active text-light" aria-current="page">Contact</a>
        </li>



      </ul>
      <div class="ms-auto dropdown">
        <button class="btn dropdown-toggle text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user me-2"></i>
          @if(isLoggedIn){
          <span class="fw-bolder me-2">Hi, {{ loginUsername }}</span>
          }
        </button>
        <ul class="dropdown-menu">
          @if(isLoggedIn){
          <li><a class="dropdown-item">Profile</a></li>
          <li>
            <a class="dropdown-item">Recipe Collection</a>
          </li>
          }@else{
          <li><a class="dropdown-item" routerLink="/login">Login</a></li>
          <li><a class="dropdown-item" routerLink="/register">Register</a></li>
          }
        </ul>
      </div>
    </div>
  </div>
</nav>