<app-header />

<!-- contact -->

<div class="row my-5">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <h1>Get in touch</h1>
    <p class="my-3" style="text-align: justify">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio repellat error accusamus
      vel sequi maiores exercitationem nam a voluptates consequuntur, ad enim sint sapiente suscipit
      beatae aperiam, alias fugit. Architecto?
    </p>
    <div class="row my-3">
      <div class="col-2">
        <div
          class="bg-success d-flex justify-content-center align-items-center"
          style="width: 50px; height: 50px; border-radius: 50%"
        >
          <div></div>
        </div>
        <div class="col-10">
          <h3>Address</h3>
          <p>NYC 4567 , PO Berlin</p>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-2">
        <div
          class="bg-success d-flex justify-content-center align-items-center"
          style="width: 50px; height: 50px; border-radius: 50%"
        >
          <div></div>
        </div>
        <div class="col-10">
          <h3>Email</h3>
          <p>abc@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-2">
        <div
          class="bg-success d-flex justify-content-center align-items-center"
          style="width: 50px; height: 50px; border-radius: 50%"
        >
          <div></div>
        </div>
        <div class="col-10">
          <h3>Phone</h3>
          <p>9324567128</p>
        </div>
      </div>
    </div>

    <hr />

    <h3>Follow Us</h3>
    <div class="d-flex mt-4">
      <div
        class="bg-success d-flex justify-content-center align-items-center"
        style="width: 50px; height: 50px; border-radius: 50%"
      >
        <div class="text-light fa-brands fa-facebook"></div>
      </div>

      <div
        class="bg-success d-flex justify-content-center align-items-center"
        style="width: 50px; height: 50px; border-radius: 50%"
      >
        <div class="text-light fa-brands fa-instagram"></div>
      </div>

      <div
        class="bg-success d-flex justify-content-center align-items-center"
        style="width: 50px; height: 50px; border-radius: 50%"
      >
        <div class="text-light fa-brands fa-twitter"></div>
      </div>

      <div
        class="bg-success d-flex justify-content-center align-items-center"
        style="width: 50px; height: 50px; border-radius: 50%"
      >
        <div class="text-light fa-brands fa-youtube"></div>
      </div>
    </div>
  </div>

<div class="col-md-5 px-md-5 px-4 mt-5 mt-md-0">
    <form class="shadow p-5" action="">
        <h1 class="mb-4 text-center">Client Testimony</h1>
         <div class="mb-3">
            <input type="text" name="name" placeholder="Name" class="form-control" id="">
        </div>
        <div class="mb-3">
            <input type="text" name="email" placeholder="Email" class="form-control" id="">
        </div>
         <div class="mb-3">
            <textarea type="text" name="message" placeholder="message" class="form-control" id=""></textarea>
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, voluptatum. Officiis id, quasi, perspiciatis cum ipsam at maxime ea, similique voluptatem facere doloribus sapiente et veritatis doloremque est adipisci enim?</p>
        <div class="text-end">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

<div class="col-md-1"></div>


<!-- location -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31443.40301685022!2d76.7001912611913!3d9.898484722900264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b07c40a315b6705%3A0x4a8f3d2b78b03d27!2sThodupuzha%2C%20Kerala!5e0!3m2!1sen!2sin!4v1767078864057!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
